<section>

	<div class="container">
		<h2 style="color: royalblue">PERFECTING YOUR NEXT ELEVATOR</h2>

		<div class="divider divider-center divider-color">

			<!-- divider -->
			<i class="fa fa-chevron-down"></i>

		</div>

		<!-- BORN TO BE A WINNER -->
		<article class="row">

			<div class="col-md-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>

					<div>
						<img class="img-fluid" src="/assets/_REAssets/images (4).jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="/assets/_REAssets/AdobeStock_3294993.jpeg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="/assets/_REAssets/images (3).jpg" alt="">
					</div>
					<div>
						<img class="img-fluid" src="/assets/_REAssets/images (21).jpg" alt="">
					</div>
				</div>

				<!-- /OWL SLIDER -->
			</div>

			<div class="col-md-6">
				<h3>Rocket Elevators : Commercial And <br> Corporate Expertise</h3>
				<p>We’ve always innovated. Our latest systems are living proof.</p>
				<p>We are the world’s leading maker of people-moving products, driven by the desire to innovate and rooted in a unique 160-year history. We’re proud of our dedication to personal service and solutions shaped by individual needs.</p>
			</div>

		</article>  <!-- /BORN TO BE A WINNER -->

	</div>

</section>


<!-- CALLOUT -->
<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">

	<div class="text-center">
		<h3>Call now at <span><strong>1-418-580-7055</strong></span> and elevate yourself <br> at the touch of a button!</h3>
		<a href="/quote#commercial" target="blank" class="btn btn-primary btn-lg btn-round mt-30">GET YOUR QUOTE NOW</a>
	</div>

</div>  <!-- /CALLOUT -->